# ── Development ──────────────────────────────
SECRET_KEY=your-secret-key-here
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development

# ── Production (isi saat deploy ke Vercel) ───
# SECRET_KEY=<generate dengan: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())">
# DEBUG=False
# DJANGO_SETTINGS_MODULE=config.settings.production
# ALLOWED_HOSTS=.vercel.app,yourdomain.com
# CSRF_TRUSTED_ORIGINS=https://yourapp.vercel.app,https://yourdomain.com
# SECURE_SSL_REDIRECT=True

# ── Database PostgreSQL (Supabase) ────────────
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=
DB_HOST=db.xxxxxxxxxxxx.supabase.co
DB_PORT=5432
